/* font import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
   margin: 0;
   box-sizing: border-box;
   font-family: 'Open Sans', 'Lato', sans-serif;
}

:root {
   font-size: 16px;
   --base-00: #000000;
   --base-30: #888888;;
   --base-50: #bbbbbb;;
   --base-70: #dddddd;
   --base-100: #ffffff;
   --accent-main: #42647f;
   --accent-secondary: #548d4a;
   --accent-tertiary: #d78d2c;
/* } */

/* semantic elements */
nav {
   width: 100%;
   height: 4.5rem;
   position: sticky;
   background-color: red;
   border-bottom: 1px solid var(--color-base-30);
}

nav .wrapper {
   width: 1100px;
   height: 100%;
   margin: 0 auto;
   background-color: blue;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

nav a {
   background-color: violet;
}

nav a:not(:first-child) {
   margin-left: 2rem;
}