/* font importing */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
   margin: 0;
   font-size: 16px;
   font-family: 'Lato';
   --primary: #000000;
   --color15: #aaaaaa;
   --color30: #bbbbbb;
   --accent: #42647f;
   --color75: #dddddd;
   --color85: #eeeeee;
   --secondary: #ffffff;
}


/* semantic blocks */
body {
   background-color: var(--color75);
}

nav {
   width: 100%;
   height: 4rem;
   background-color: white;
   box-shadow: 0 0 5px black;
}

header {
   height: 10rem;
   width: 100%;
   background-color: #42647f;
   position: absolute;
   z-index: -1;
}

.wrapper {
   width: 1000px;
   height: 100%;
   margin: 0 auto;
   box-sizing: border-box;
}

/* responsive design */
@media screen and (min-width: 1400px) {
   .wrapper {
      width: 1000px;
   }
 }

 @media screen and (max-width: 1400px) and (min-width: 1200px) {
   .wrapper {
      width: 800px;
   }
 }

 @media screen and (max-width: 1200px) and (min-width: 1000px) {
   .wrapper {
      width: 600px;
   }
 }

 @media screen and (orientation: portrait) {
   .wrapper {
      width: 100%;
   }
   /* reminder: remove sidebar when portrait */
 }

/* nav */
.wrapper.nav {
   padding: 1.25rem 2rem;
   display: flex;
   align-items: center;
   justify-content: left;
   flex-wrap: nowrap;   
}

.wrapper.nav a:not(:first-child) {
   margin-left: 2rem;
}

nav a {
   height: 100%;
   padding: 0.5rem 0.75rem;
   color: #888888;
   line-height: 1.5rem;
   text-align: center;
   cursor: pointer;
   text-decoration: none;
   transition: color 75ms, background-color 75ms;
}

nav a:hover {
   color: var(--accent);
   background-color: var(--color85);
}

#current {
   color: var(--accent);
   font-weight: bold;
}

/* text formatting */

p {
   font-size: 1em;
   line-height: 1.5em;
}

h1 {
   color: #666666;
   font-size: 1.5em;
}

h2 {
   color: #666666;
   font-size: 1.2em;
}

p, h2 {
   margin: 1.5rem 0;
}

/* main */
.wrapper.main {
   margin-top: 4rem;
   padding: 2rem;
   /* font-size: 14px; -- problem as it isn't the main parent NOTICE ME */
   background-color: var(--secondary);
}

.wrapper.main a {
   font-weight: bold;
   color: var(--accent);
   text-decoration: none;
}

/* information */
div.goals {
   background-color: var(--color75);
   padding: 2rem;
}

h2.goals {
   color: var(--primary);
   margin: 0;
}

/* sidebar */

#sidebar {
   position: sticky;
   float: left;
   width: 100px;
   height: 100px;
   margin-right: 100px;
}

/* definitions */
dl {
   display: grid;
   grid-template-columns: 40% 60%;
}

dt, dd {
   padding: 0.5rem;
}

dt:nth-of-type(odd), dd:nth-of-type(odd) {
   background-color: var(--color75);
}